.login-form,
.signup-form,
.diary-entry-form {
  max-width: 70vw;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.login-form p,
.signup-form p,
.diary-entry-form p {
  font-size: 1rem;
  color: gray;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

label {
  display: block;
  margin-top: 0.1rem;
  font-weight: bold;
}
