@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --primary: #9833e2;
  --white: #eceff1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  background-color: var(--white);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
